<!DOCTYPE html>
<html>
  <head>
    <title>登录</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
   		<form method="post" action="/users/login">
   			<input type="text" name="userName"/>
   			<input type="text" name="pwd"/>
   			<input type="submit" value="登录"/>
   		</form>
  </body>
</html>
